server:
  port: ${SCHEDULING_APP_PORT}
spring:
  profiles:
    active: ${SPRING_PROFILES_ACTIVE:dev}
  application:
    name: organisation-service
  jpa:
    open-in-view: false
    generate-ddl: true
    hibernate:
      ddl-auto: create-drop
  datasource:
    url: ${DATASOURCE_URL}${DATASOURCE_SCHEDULING_DATABASE}
    username: ${DATASOURCE_SCHEDULING_USERNAME}
    password: ${DATASOURCE_SCHEDULING_PASSWORD}
    driver-class-name: org.postgresql.Driver
eureka:
  client:
    service-url:
      defaultZone: ${EUREKA_DEFAULT_ZONE}
  instance:
    prefer-ip-address: true
    metadata-map:
      "prometheus.scrape": "true"
      "prometheus.path": "/actuator/prometheus"
management:
  zipkin:
    tracing:
      endpoint: ${ZIPKIN_URL}
  endpoints:
    web:
      exposure:
        include: '*'
  metrics:
    tags:
      application: ${spring.application.name}
  tracing:
    sampling:
      probability: 1.0
jwt:
  public:
    key: classpath:certs/public.pem
services:
  auth:
    url: ${USER_SERVICE_URL}
  organisation:
    url: ${SCHEDULING_SERVICE_URL}
  employee:
    url: ${EMPLOYEE_SERVICE_URL}
  scheduling:
    url: ${SCHEDULING_SERVICE_URL}
timefold:
  solver:
    termination:
      spent-limit: ${TIMEFOLD_SPENT_LIMIT:30s}