SPRING_PROFILES_ACTIVE=prod

EUREKA_APP_PORT=9050
GATEWAY_APP_PORT=8080
AUTH_APP_PORT=9001
EMPLOYEE_APP_PORT=9002
ORGANISATION_APP_PORT=9003
WORKFLOW_APP_PORT=9004

EUREKA_DEFAULT_ZONE=http://eureka:9050/eureka/
ELASTICSEARCH_URL=http://elasticsearch:9200

DATASOURCE_URL=jdbc:postgresql://db:5432/

DATASOURCE_AUTH_DATABASE=empshed_auth
DATASOURCE_AUTH_USERNAME=empshed
DATASOURCE_AUTH_PASSWORD=empshed

DATASOURCE_EMPLOYEE_DATABASE=empshed_employee
DATASOURCE_EMPLOYEE_USERNAME=empshed
DATASOURCE_EMPLOYEE_PASSWORD=empshed

DATASOURCE_ORGANISATION_DATABASE=empshed_organisation
DATASOURCE_ORGANISATION_USERNAME=empshed
DATASOURCE_ORGANISATION_PASSWORD=empshed

LOGSTASH_CONNECTION=logstash:5044
ZIPKIN_URL=http://zipkin:9411/api/v2/spans

TEMPORAL_CONNECTION=temporal:7233

USER_SERVICE_URL=http://auth:9001
EMPLOYEE_SERVICE_URL=http://employee:9002
ORGANISATION_SERVICE_URL=http://organisation:9003

GCS_BUCKET_NAME=empsched-bucket
GCS_PROJECT_ID=empsched-project
GCS_MOCK_HOST=http://fake-gcs:4443

MULTIPART_MAX_FILE_SIZE=5MB
MULTIPART_MAX_REQUEST_SIZE=5MB