server:
  port: ${ORGANISATION_APP_PORT}
spring:
  profiles:
    active: ${SPRING_PROFILES_ACTIVE:dev}
  application:
    name: organisation-service
  jpa:
    open-in-view: false
    generate-ddl: true
    hibernate:
      ddl-auto: create-drop
  datasource:
    url: ${DATASOURCE_URL}${DATASOURCE_ORGANISATION_DATABASE}
    username: ${DATASOURCE_ORGANISATION_USERNAME}
    password: ${DATASOURCE_ORGANISATION_PASSWORD}
    driver-class-name: org.postgresql.Driver
  temporal:
    connection:
      target: ${TEMPORAL_CONNECTION}
    workers:
       - name: organisation-management-worker
         task-queue: TASK_QUEUE_ORGANISATION_MANAGEMENT
       - name: position-management-worker
         task-queue: TASK_QUEUE_POSITION_MANAGEMENT
    workers-auto-discovery:
      packages:
        - com.example.empsched.organisation.workflow
        - com.example.empsched.organisation.workflow.impl
        - com.example.empsched.organisation.activity
        - com.example.empsched.organisation.activity.impl
eureka:
  client:
    service-url:
      defaultZone: ${EUREKA_DEFAULT_ZONE}
  instance:
    prefer-ip-address: true
    metadata-map:
      "prometheus.scrape": "true"
      "prometheus.path": "/actuator/prometheus"
management:
  zipkin:
    tracing:
      endpoint: ${ZIPKIN_URL}
  endpoints:
    web:
      exposure:
        include: '*'
  metrics:
    tags:
      application: ${spring.application.name}
  tracing:
    sampling:
      probability: 1.0
jwt:
  public:
    key: classpath:certs/public.pem
services:
  auth:
    url: ${USER_SERVICE_URL}
  organisation:
    url: ${ORGANISATION_SERVICE_URL}
  employee:
    url: ${EMPLOYEE_SERVICE_URL}
  scheduling:
    url: ${SCHEDULING_SERVICE_URL}